@model ST10287116_PROG6212_POE_P2.Models.UserLogin
@{
    var returnUrl = ViewData["ReturnUrl"] as string;
}
<h3>Login</h3>
<form asp-action="Login" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="returnUrl" value="@returnUrl" />
    <div asp-validation-summary="All" class="text-danger mb-2"></div>

    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary w-100">Login</button>
</form>
@section Scripts { <partial name="_ValidationScriptsPartial" /> }